<div>
    <h3 *ngIf="isNew">Add Book</h3>
    <h3 *ngIf="!isNew">Edit Book</h3>
    <div class="form-group relative">
        <label for="name">Book Name</label>
        <span class="error" *ngIf="error.bookName">{{error.bookName}}</span>
        <input type="text" class="form-control" (focus)="clear()" id="name" required [(ngModel)]="book.bookName" name="name"
            #name="ngModel">
    </div>
    <div class="form-group relative">
        <label for="name">Author Name</label>
        <span class="error" *ngIf="error.author">{{error.author}}</span>
        <input type="text" class="form-control" (focus)="clear()" id="author" required [(ngModel)]="book.author" name="author"
            #author="ngModel">
    </div>
    <div class="form-group relative">
        <label for="coverPhoto">upload coverPhoto</label>
        <span class="error" *ngIf="error.coverPhoto">{{error.coverPhoto}}</span>
        <input type="file" class="form-control" (focus)="clear()" placeholder="{{book.fileName || ''}}"
            (change)="uploadFile($event)"
            id="coverPhoto" required name="coverPhoto">
    </div>
    <div class="form-group relative">
        <label for="name">Publication Date</label>
        <input type="date" class="form-control" id="PublicationDate" required [(ngModel)]="book.PublicationDate"
            name="PublicationDate">
    </div>

    <button type="button" (click)="saveBook()" *ngIf="isNew" class="btn btn-success">save</button>
    <button type="button" (click)="updateBook()" *ngIf="!isNew" class="btn btn-success">update</button>
</div>