/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  transition: all .3s ease;
}

li,
ul {
  padding: 0px;
  list-style: none;
  margin: 0;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

header {
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.pen {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 14px;
  height: 4px;
  border-right: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: -2px;
}

.pen::after,
.pen::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.pen::before {
  background: currentColor;
  border-left: 0;
  right: -6px;
  width: 3px;
  height: 4px;
  border-radius: 1px;
  top: 0;
}

.pen::after {
  width: 8px;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  left: -11px;
  top: -2px;
}

.relative {
  position: relative;
}
.error {
  background: #d21;
  padding: 5px;
  border-radius: 8px;
  font-size: 0.85em;
  margin-right: 4px;
  color: #fff;
  transition: all 0.7s ease;
  box-shadow: -0.42px -0.42px 0 1px #8d8c8c;
  position: absolute;
  left: 5%;
  top: -58%;
  width: 100%;
}
.error:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  right: 23px;
  z-index: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #07090e;
}
.eye {
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 18px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box;
}
.eye::after,
.eye::before {
  content: "";
  display: block;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box;
}
.eye::after {
  top: 2px;
  box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
  width: 24px;
  height: 24px;
}
.eye::before {
  width: 8px;
  height: 8px;
  border: 2px solid;
  bottom: 4px;
  left: 8px;
}
.pointer {
  cursor: pointer;
}

.del {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}

.del::after,
.del::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.del::after {
  transform: rotate(-45deg);
}
